Unit - 1/XML/courseDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="csecourses">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:string"></xs:element>
                <xs:element name="credits" type="xs:integer"></xs:element>
                <xs:element name="maxmarks" type="xs:integer"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>